<div class="mycards">
  <div class="row">

    <div class="col-sm survey" *ngFor="let survey of surveys">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{survey.text}}</h5>
          <p class="card-text">Attemp Questions ! </p>
          <!-- <button class="btn btn-primary" routerLink="/question" >Go to Quiz</button> -->
          <button class="btn btn-primary" (click)="takeSurvey(survey._id, survey.text)">Attempt Question </button>
        </div>
      </div>
    </div>
  </div>
</div>